.listContainer {
	@apply flex flex-col space-y-14;
}

.listContainer > div {
	@apply relative;
	direction: ltr;
}

.listContainer > div > h3 {
	@apply relative z-10 text-4xl font-bold text-left;
	font-family: "Righteous", cursive;
}

.listContainer > div span {
	@apply absolute -top-7 -left-4 text-6xl font-black capitalize z-0 text-left block;
	color: rgba(0, 0, 0, 0);
	-webkit-text-stroke: 1px rgba(168, 85, 247, 0.6);
	font-family: "Righteous", cursive;
}

.listContainer > ul {
	@apply grid grid-cols-1 gap-8 pl-10 lg:w-64 ml-0 mr-auto;
	direction: ltr;
}

.listContainer > ul li {
	@apply relative capitalize;
	direction: ltr;
}

.listContainer > ul li::before {
	content: "";
	@apply w-2 h-2 rounded-full bg-violet-700 block absolute top-2 -left-10;
}
.listContainer > ul li::after {
	content: "";
	@apply w-5 h-5 rounded-full bg-transparent border border-white block absolute top-0.5 -left-12 ml-0.5;
}
