.home_banner {
    @apply h-screen w-screen grid place-items-center relative;
    background: radial-gradient( circle at top  , rgb(99 102 241) -50% , rgb(15,23,42) 50%);

}
@media (max-width: 768px) {
    .home-banner {
        background: radial-gradient(circle at top, rgb(99 102 241) -40%, rgb(15, 23, 42) 60%);
    }
}

.home_banner_introduction {
    @apply grid place-items-center relative;
}

.home_banner_introduction h1 {
    @apply relative;
}

.home_banner_introduction h1 span{
    @apply block text-7xl lg:text-9xl font-black capitalize text-center font-serif relative z-20;
    font-family: 'Righteous', cursive;
}

.home_banner_introduction h1::before{
    @apply absolute -top-4 -left-4 text-7xl lg:text-9xl font-black capitalize z-10;
    content: 'Behnam';
    color: rgba(0,0,0,0.0);
    -webkit-text-stroke: 2px rgba(107, 33 , 168, 0.7);
    font-family: 'Righteous', cursive;
}

.home_banner_introduction .home_banner_subtitle {
    @apply block w-full lg:w-2/5 px-2 lg:px-0 text-xl font-thin text-center capitalize mt-5 leading-8;
    font-family: 'Comfortaa', cursive;
}

.home_banner_introduction .home_banner_subtitle span , .home_banner_introduction .home_banner_subtitle strong{
    @apply  font-bold;
}

.bottomLetter {
    @apply absolute bottom-24 lg:bottom-44 left-24 text-7xl font-bold;
    text-shadow: -10px 10px rgba(168, 85 , 247 , 1);
    font-family: 'Righteous', cursive;
}

 .topLetter {
     @apply absolute top-20 lg:top-10 right-24 lg:right-56 text-7xl font-bold;
     text-shadow: -10px 10px rgba(168, 85 , 247 , 1);
     font-family: 'Righteous', cursive;
 }

 .bannerDot_container {
     @apply absolute top-0 left-24 lg:left-56;
 }


.bannerDot {
     @apply w-2 h-2 rounded-full bg-violet-400 relative;
 }

.bannerDot::before {
    content: '';
    position: absolute;
    top: -17px;
    left: -16px;
    width: 40px;
    height: 40px;
    border-radius:50%;
    border: 1px solid #fff;
}

.headerTitle{
    @apply text-2xl lg:text-5xl font-black ;
    font-family: 'Righteous', cursive;
    direction: ltr;
}

.headerTitle > span {
    @apply text-violet-700;
}

.section {
    @apply container mx-auto py-20 px-5 lg:p-24;
}

.progress {
    @apply grid grid-cols-1 py-10;
}

.technologies {
    @apply flex flex-col lg:flex-row-reverse space-y-24 lg:space-y-0 lg:justify-between py-24 ;
}

.btn_container {
    @apply grid place-items-center my-20;
}

.contact_container {
    @apply pt-32 grid place-items-center;
}

.contact {
    @apply p-5 cursor-pointer;
}

.contact > div {
    @apply cursor-pointer rounded-full border-2 border-dashed border-violet-700 grid place-items-center w-56 h-56 lg:w-96 lg:h-96 p-5 lg:p-20;
    direction: ltr;
}

.contact > div > p {
    @apply text-sm text-slate-200 my-3 capitalize w-24 lg:w-44;
    direction: ltr;
}

.contact > div > h3 {
    @apply flex flex-col;
}

.contact > div > h3 > span { @apply font-bold text-2xl lg:text-5xl capitalize;}


.arrowTopRight {
    @apply text-4xl lg:text-8xl text-white mr-10 lg:mr-20;
}

.contactForm {
    @apply fixed bottom-0 left-0 right-0 top-0;
    background: radial-gradient( farthest-corner at 100vw 0px   , rgb(99 102 241) -50% , rgb(15,23,42) 50%);
}