@tailwind base;

html , body {
	background: rgb(15,23,42);
}

#__next {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

.headerTitle{
	@apply text-2xl lg:text-5xl font-black ;
	font-family: 'Righteous', cursive;
	direction: ltr;
}

.headerTitle > span {
	@apply text-violet-700;
}

.bg-moon-gradient {
	background: radial-gradient( circle at top  , rgb(99 102 241) -50% , rgb(15,23,42) 50%);
}

.home-banner {
	@apply h-screen w-screen grid place-items-center;
}


.home-banner-introduction {
	@apply grid place-items-center;
}

.home-banner-introduction h1 {
	@apply relative;
}

.home-banner-introduction h1 span{
	@apply block text-7xl lg:text-9xl font-black capitalize text-center font-serif relative z-20;
	font-family: 'Righteous', cursive;
}

.home-banner-introduction h1::before{
	@apply absolute -top-4 -left-4 text-7xl lg:text-9xl font-black capitalize z-10;
	content: 'Behnam';
	color: rgba(0,0,0,0.0);
	-webkit-text-stroke: 2px rgba(107, 33 , 168, 0.7);
	font-family: 'Righteous', cursive;
}

.home-banner-introduction .home-banner-subtitle {
	@apply block w-full lg:w-2/5 px-2 lg:px-0 text-xl font-thin text-center capitalize mt-5 leading-8;
	font-family: 'Comfortaa', cursive;
}

.home-banner-introduction .home-banner-subtitle span , .home-banner-introduction .home-banner-subtitle strong{
	@apply  font-bold;
}

.primaryCars_container > div:nth-child(2n+1) {
	margin-top: 10rem;
}

.notFoundPage h2 {
	@apply font-black text-center;
	font-size: 200px;
	line-height: 200px;
}

.notFoundPage h3 {
	@apply text-4xl font-bold text-center capitalize;
	font-size: 53px;
}

@media (max-width: 768px) {
	.home-banner {
		background: radial-gradient( circle at top  , rgb(99 102 241) -40% , rgb(15,23,42) 60%);
	}

	.notFoundPage h2 {
		font-size: 150px;
		line-height: 200px;
	}

	.notFoundPage h3 {
		font-size: 36px;
	}
}


@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Bungee";
	src: url("../public/fonts/Bungee-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Righteous";
	src: url("../public/fonts/Righteous-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: "Comfortaa";
	src: url("../public/fonts/comfortaa/Comfortaa-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Comfortaa";
	src: url("../public/fonts/comfortaa/Comfortaa-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Comfortaa";
	src: url("../public/fonts/comfortaa/Comfortaa-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Comfortaa";
	src: url("../public/fonts/comfortaa/Comfortaa-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Comfortaa";
	src: url("../public/fonts/comfortaa/Comfortaa-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: "Vazirmatn";
	src: url("../public/fonts/Vazirmatn-Thin.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Vazirmatn";
	src: url("../public/fonts/Vazirmatn-ExtraLight.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Vazirmatn";
	src: url("../public/fonts/Vazirmatn-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Vazirmatn";
	src: url("../public/fonts/Vazirmatn-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Vazirmatn";
	src: url("../public/fonts/Vazirmatn-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Vazirmatn";
	src: url("../public/fonts/Vazirmatn-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Vazirmatn";
	src: url("../public/fonts/Vazirmatn-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Vazirmatn";
	src: url("../public/fonts/Vazirmatn-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Vazirmatn";
	src: url("../public/fonts/Vazirmatn-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
	direction: rtl;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Comfortaa' ,"Vazirmatn", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: #fff;
}

a {
	color: inherit;
	text-decoration: none;
}

.ltr {
	direction: ltr;
}

.font-righteous {
	font-family: 'Righteous', cursive;
}

.bg-svg {
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='400' ry='400' stroke='white' stroke-width='4' stroke-dasharray='15' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
	border-radius: 400px;
}

.banner-text-shadow {
	text-shadow: -10px 10px rgba(168, 85 , 247 , 1);
}

.banner-dot::before {
	content: '';
	position: absolute;
	top: -17px;
	left: -16px;
	width: 40px;
	height: 40px;
	border-radius:50%;
	border: 1px solid #fff;
}

.content-ellipsis p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}

.blog-content h2 {
	font-size: 28px;
	line-height: 3rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-weight: 900;
	color: #182747;
}

.blog-content h3 {
	font-size: 24px;
	line-height: 2.5rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-weight: 900;
	color: #182747;
}

.blog-content h4 {
	font-size: 20px;
	line-height: 2.5rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-weight: 700;
	color: #182747;
}
.blog-content p,
.blog-content div,
.blog-content a,
.blog-content li {
	font-size: 16px;
	line-height: 2rem;
	margin-bottom: 1rem;
	font-weight: 300;
	color: #182747;
	text-align: justify;
}

.blog-content ul {
	padding-right: 40px;
}
.blog-content li {
	position: relative;
}

.blog-content li::before {
	content: "__";
	position: absolute;
	bottom: 6px;
	right: -25px;
	font-size: 20px;
	font-weight: 900;
	color: rgb(202, 138, 4);
}

.blog-content p strong,
.blog-content div strong,
.blog-content a strong,
.blog-content li strong {
	font-weight: 700;
}

.blog-content figure {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.blog-content figure img,
.blog-content p img {
	margin: 0 auto;
	border-radius: 40px;
}

.blog-content p a,
.blog-content li a,
.blog-content div a {
	color: rgb(202, 138, 4);
}

.blog-content .wp-block-video,
.blog-content .wp-block-video video {
	margin: 1rem auto;
	height: 500px;
	border-radius: 40px;
}

.blog-content .wp-block-quote {
	background: rgba(186, 230, 253, 0.5);
	padding: 40px;
	margin-right: 40px;
	margin-left: 40px;
	border-radius: 40px;
	margin-bottom: 1rem;
}

.blog-content .wp-block-quote p {
	margin-bottom: 0;
	font-size: 20px;
}
